.heading{
	font-weight: 300; 
	font-size:20px;
	text-align: center;
}
.icon{
	margin-left:60px; 
	height: 140px;
	width: 160px;
	border-radius: 50%;
	box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
	
}
.icon img{
	margin-top: 16px;
	margin-left: 30px;
	height: 104px;
	width: 104px;
}
.shadow{
	box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
	border-radius:15px; 
}
.charticon{
	
	background: #ffffff;
	margin-right: 15px;
    float: left;
    width: 70px;
    height: 70px;
    display: inline-block;
    text-align: center;
    line-height: 92px;
    border-radius: 50%;
}
.content{

	display: inline;
	
}
.technav{
	text-align: center;
	margin-top: 40px;
}
.technav ul li{

	display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    color: #36334c;
    cursor: pointer;
    font-weight: 500;
}
.technav ul li:hover{
	color:#0dcaf0;
}
.techspace{
	margin-top: 40px;
}
.techimg img{
	width: 75%;
    margin-left: 39px;
}
.portimg img{
	height: 221px;
    width: 100%;
    position: relative;
    padding: 10px;
}