*{
	margin:0;
	padding: 0; 
}
.a{
	background: #0000009c;

}
.mobilelogo{
	display: none;
}
.weblogo{
	width: 65px;
}
.franchise{
	border-style: solid;
	border-width: thin;
	border-color: #fbab29;
}
@media (max-width: 600px){
	.a{
		background:#fec926;
	}
	.active{
		color:#000!important;
	}
	.weblogo{
			display: none;

		}
	.mobilelogo{
				display: block;
			}
	.franchise{
		border: none;
	}
	.banner-margin{
				margin-top: 16%;
			}	
	.mob-banner{
		display: block !important;
	}	
	.web-banner{
		display: none;
	}
	.ourstory{
	font-size: 50px !important;

	}
	.ourstory2{
	font-size: 25px !important;
	}
	.title{
	position: absolute;
	top: 45%;
	/*left: 0!important;*/
	letter-spacing: 4px;
	text-align: center;
	}
}

.mob-banner{
		display: none;
	}	
.web-banner{
	width: 100%;
}
.title{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	letter-spacing: 4px;
	text-align: center;
}
.ourstory{
	font-size: 80px ;

}
.ourstory2{
	font-size: 40px ;
}
.heading{
	font-weight: bolder;
	padding-top: 20px;
    text-transform: uppercase;
    font-family: prague;
    letter-spacing: 3px;
}
.intro{
	line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: justify;
}
.introimage{
	box-shadow: 0 0px 0px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
	width: 100%;
}

.gamechange{
	color:#ffffff;
	margin: 80px 0px;
}
.gamebkg{
	background: url(../image/gamebanner.jpg);
}
.priyankimage{
	box-shadow: 0 10px 16px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)!important;
	width: 80%;
}
.family{
	line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: justify;
}
.familyimg{
	box-shadow: 0 0px 0px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
	width: 100%;

}
.btn{
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    background-color: #fbac29;
    padding: 10px 20px;
    margin-bottom: 40px;
}
.footer{
	
	padding-top: 20px;
	padding-bottom: 20px;
	background: #000;
}
.socialicons{
	color:#ffad00;
	text-align: left !important;
	font-size: 30px;
	margin-right: 10px;
}

